.bio{
  a{
    text-decoration: none;
  }
}

.carousel{
  width: 600;
}
.carousel-inner{
  height: 80vh;
}

.carousel-item{

}

.carousel-control-prev-icon{
  color: black
}

.carousel-control-prev{
  color: black
}
