.bio{
  a{
    text-decoration: none;
  }
}

.carousel-inner{
  height: 80vh;
}

.carousel-item{
  img{
    object-fit: cover;
  }
}

.carousel-control-prev-icon{
  color: black
}

.carousel-control-prev{
  color: black
}
