<h1 class= "page_title">Stuff I've written/done</h1>
<div id= "posts_wrapper" class= "skinny_wrapper">
  <div class="post">
    <p class="date">Friday 10th</p>
    <a href="#" class="h2">The Do list</a>
    <hr>
  </div>
  <div class="post">
    <p class="date">Friday 10th</p>
    <a href="#" class="h2">The Do list</a>
    <hr>
  </div>
  <div class="post">
    <p class="date">Friday 10th</p>
    <a href="#" class="h2">The Do list</a>
    <hr>
  </div>
</div>
