<h1 class= "page_title">Stuff I've written/done</h1>
<div id= "posts_wrapper" class= "skinny_wrapper">
  <div class="post">
    <p class="date">29th March 2022</p>
    <a href="#" class="h2">Creating a Portfolio app with Rails</a>
    <hr>
  </div>
  <div class="post">
    <p class="date">Friday 10th</p>
    <a href="#" class="h2">Composing an ambient music album</a>
    <hr>
  </div>
  <div class="post">
    <p class="date">Friday 10th</p>
    <a href="#" class="h2">A memoir of a web development BootCamp</a>
    <hr>
  </div>
</div>
