<footer id="main_footer" class= "d-flex justify-content-between align-items-center">
<p class="copyright">©2022 Francisco Mendonça</p>
<nav>
  <a href="https://github.com/franmendonca" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.linkedin.com/in/franciscomendonca8/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  <a href="https://www.youtube.com/channel/UCm679ILt27bg6wExKs3ou8A" target="_blank"><i class="fa-brands fa-youtube"></i></a>
</nav>
</footer>
