<header id= "main_navigation" class= "d-flex justify-content-between align-items-center">
  <a href="#" class="name"> Francisco Mendonça</a>
  <nav>
    <a href="#">Projects</a>
    <a href="#">Articles</a>
    <a href="#">Contact</a>

  </nav>
</header>
