<h1 class= "page_title">Projects</h1>
<div id= "posts_wrapper" class= "skinny_wrapper">
  <div class="post">
    <p class="date">Friday 10th</p>
    <a href="#" class="h2">Nomadity</a>
    <hr>
  </div>
  <div class="post">
    <p class="date">Friday 10th</p>
    <a href="#" class="h2">NFT Solar</a>
    <hr>
  </div>
  <div class="post">
    <p class="date">Friday 10th</p>
    <a href="#" class="h2">Musicbox</a>
    <hr>
  </div>
</div>
