#main_navigation{
  padding: 2em 5%;
  border-bottom: 1px solid $border;

  .name{
    font-weight: 700;
    font-size: .8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid $border;
    padding: 1rem 1rem;
    text-decoration: none;
    color: $dark;
  }

  nav{

    a{
      color: $dark;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1rem;
    }
  }
}
